# ---------- Python ----------
backend/venv/
__pycache__/
*.py[cod]

# ---------- Uploads & Outputs ----------
backend/uploads/*
backend/outputs/*
!backend/uploads/.gitkeep
!backend/outputs/.gitkeep

# ---------- Node ----------
frontend/node_modules/

# ---------- Environment ----------
.env

# ---------- VS Code ----------
.vscode/

# ---------- OS ----------
Thumbs.db
.DS_Store