body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  text-align: center;
}

input {
  margin-top: 20px;
}

img {
  margin-top: 20px;
  border-radius: 10px;
}

.upload-box {
  width: 450px;
  height: 220px;
  margin: 30px auto;
  border: 3px dashed #6c63ff;
  border-radius: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.upload-box:hover {
  background: #f5f5ff;
  transform: scale(1.02);
}

.upload-box h2 {
  font-size: 60px;
  margin: 0;
}

.upload-box h3 {
  margin-top: 10px;
}

.upload-box p {
  color: gray;
}


.selector-container {
  width: 320px;
  margin: 20px auto;
  text-align: left;
}

.selector-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.selector-container select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}